{% extends "base.twig" %}
{% block content %}

{% set sidebar = no_sidebar ? 'noSidebar' : '' %}

{% if not with_banner %}
  {# TODO: Fix banner #}
  {# include 'components/banner.twig' #}
{% endif %}

<div class="{{'SinglePage'|modifiers("#{sidebar}")}} container">

  <div class="SinglePage-content">
    {% include 'layout/base.twig' %}
  </div>

  {% if not no_sidebar %}
    <div class="SinglePage-sidebar Sidebar">

      {% if toc %}
        <div class="SinglePage-toc">
          <div class="SinglePage-tocContent">
            <h2 class="h3 light brown singleMargin">{{post.parent.title|title}}</h2>
            {% for child in post.parent.children %}
              {% if child.id == post.id %}
                <a href="{{child.link}}" class="Link Link--reversed hregular brown bold halfPadding">
                  <span>{{child.title}}</span>
                  <svg aria-hidden="true" role="presentation" title="{{child.title}}">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right"></use>
                  </svg>
                </a>
              {% else %}
                <a href="{{child.link}}" class="Link Link--reversed Link--fillCurrent hregular line light halfPadding">
                  <span class="dark-gray">{{child.title}}</span>
                  <svg aria-hidden="true" role="presentation" title="{{child.title}}">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#right"></use>
                  </svg>
                </a>
              {% endif %}
            {% endfor %}
          </div>
          <div class="SinglePage-tocPattern"></div>
        </div>
      {% endif %}

      {# Sidebar #}
      {% if sidebar_sections %}
        {% include 'layout/sidebar-base.twig' %}
      {% endif %}
    </div>
  {% endif %}

</div>

{% endblock %}
