<div class="ArchiveResource-filterDateMonth">

  <div class="Dropdown" data-component="select" data-select="month">
    <select class="gray hsmall noMargin noPadding noLineHeight">
      <option value="any" selected>{{__('Any Month', 'gcf')}}</option>
      <option value="0">{{__('January', 'gcf')}}</option>
      <option value="1">{{__('February', 'gcf')}}</option>
      <option value="2">{{__('March', 'gcf')}}</option>
      <option value="3">{{__('April', 'gcf')}}</option>
      <option value="4">{{__('May', 'gcf')}}</option>
      <option value="5">{{__('June', 'gcf')}}</option>
      <option value="6">{{__('July', 'gcf')}}</option>
      <option value="7">{{__('August', 'gcf')}}</option>
      <option value="8">{{__('September', 'gcf')}}</option>
      <option value="9">{{__('October', 'gcf')}}</option>
      <option value="10">{{__('November', 'gcf')}}</option>
      <option value="11">{{__('December', 'gcf')}}</option>
    </select>
    <svg aria-hidden="true" role="presentation" title="{{__('Select Month', 'gcf')}}">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-down"></use>
    </svg>
  </div>

  <div class="ArchiveResource-filterDateOf faint hsmall">{{__('of', 'gcf')}}</div>

</div>
