<div class="Carousel">

  <div class="Carousel-nav">
    <div class="Button Button--withIcon Button--outline">
      <svg aria-hidden="true" role="presentation" title="">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#article"></use>
      </svg>
      <span>{{__('Articles', 'gcf')}}</span>
    </div>
    <div class="Button Button--withIcon Button--blue">
      <svg aria-hidden="true" role="presentation" title="">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#document"></use>
      </svg>
      <span>{{__('Documents', 'gcf')}}</span>
    </div>
    <div class="Button Button--withIcon Button--red">
      <svg aria-hidden="true" role="presentation" title="">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#photo"></use>
      </svg>
      <span>{{__('Photos', 'gcf')}}</span>
    </div>
    <div class="Button Button--withIcon Button--orange">
      <svg aria-hidden="true" role="presentation" title="">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#publication"></use>
      </svg>
      <span>{{__('Publications', 'gcf')}}</span>
    </div>
    <div class="Button Button--withIcon Button--maroon">
      <svg aria-hidden="true" role="presentation" title="">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#video"></use>
      </svg>
      <span>{{__('Videos', 'gcf')}}</span>
    </div>
  </div>

  <div class="Carousel-wrapper">
    <div class="Carousel-item">
      <h3 class="large bold">
        <a href="">The Domestic Implementation of International Humanitarian Law</a>
      </h3>
      <a href="" class="Button Button--block Button--metal">{{__('Read More', 'gcf')}}</a>
    </div>
  </div>
</div>
